$icons: (
    sprite: (width: 805px, height: 808px, pngPath: '../images/svg-sprite.png', svgPath: '../images/svg-sprite.svg'),
        f_ico: (width: 36.04px, height: 36.04px, backgroundX: 0px, backgroundY: 0px),
        gj: (width: 283.46px, height: 283.46px, backgroundX: -47px, backgroundY: -47px),
        in_ico: (width: 36.04px, height: 36.04px, backgroundX: -341px, backgroundY: -341px),
        insta_ico: (width: 36.04px, height: 36.04px, backgroundX: -388px, backgroundY: -388px),
        logo: (width: 80px, height: 80px, backgroundX: -435px, backgroundY: -435px),
        ok_ico: (width: 36.04px, height: 36.04px, backgroundX: -525px, backgroundY: -525px),
        seo_info: (width: 81.04px, height: 84.82px, backgroundX: -572px, backgroundY: -572px),
        t_ico: (width: 36.04px, height: 36.04px, backgroundX: -664px, backgroundY: -667px),
        vk_ico: (width: 36.04px, height: 36.04px, backgroundX: -711px, backgroundY: -714px),
        you_ico: (width: 36.04px, height: 36.04px, backgroundX: -758px, backgroundY: -761px),
);